{{!
CITATION
Source: CS340 NodeJS starter app (github.com/osu-cs340-ecampus/nodejs-starter-app)
Author: George Kochera
Retrieved: 2/27/2023
This application was adapted from the boilerplate code provided in the CS340 starter app.
}}

<h2>Transfusion Orders View</h2>
<table id="transfusion-orders-table" class="transfusion-orders-table">
    
    <thead>
        <tr>
            {{#each transfusionorders.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    
    <tbody>
        {{#each transfusionorders}}
        <tr id="row-{{this.TransfusionID}}">
            <td>{{this.TransfusionID}}</td>
            <td>{{this.PatientName}}</td>
            <td>{{this.NurseName}}</td>
            <td>{{moment this.Date format="DD-MM-YYYY HH:MM:SS"}}</td>
            <td>{{this.Description}}</td>
            <td>{{this.InfusionRate}}</td>
            <td><button id="editButton" onclick="showEditForm('{{this.TransfusionID}}', '{{this.PatientName}}', '{{this.NurseName}}', '{{moment this.Date format="YYYY-MM-DD HH:MM:SS"}}', '{{this.Description}}', '{{this.InfusionRate}}')">Edit</button></td>
            <td><button onclick="deleteTransfusionOrder({{this.TransfusionID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>

</table> 
<script src="./js/delete-transfusion-order.js"></script>
<script src="./js/show-transfusion-order-update.js"></script>

<h2>Transfusion Details View</h2>
<table id="transfusion-details-table">
    
    <thead>
        <tr>
            {{#each transfusiondetails.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{#each transfusiondetails}}
        <tr>
            <td>{{this.TransfusionID}}</td>
            <td>{{this.PatientName}}</td>
            <td>{{this.NurseName}}</td>
            <td>{{this.ProductTypeID}}</td>
            <td>{{this.BloodTypeID}}</td>
            <td>{{this.Volume}}</td>
            <td>{{this.InfusionRate}}</td>
        </tr>
        {{/each}}
    </tbody>

</table> 

{{!-- Form to add a record to the TransfusionOrder table --}}
<div id="add-section">
<h2>Add New Transfusion Order</h2>
<p>To add a new transfusion order, please enter the information below and click 'Submit'!</p>
<form id="add-transfusion-order-form-ajax">
    <label for="input-patient">Patient Name: </label>
    <select name="input-patient" id="input-patient">
        <option value="">Select a Patient</option>
        {{#each patients}}
        <option value="{{this.PatientID}}, {{this.Name}}">{{this.Name}}</option>
        {{/each}}
    </select> <br><br>

    <label for="input-nurse">Nurse Name: </label>
    <select name="input-nurse" id="input-nurse">
        <option value="">Select a Nurse</option>
        {{#each nurses}}
        <option value="{{this.NurseID}}, {{this.Name}}">{{this.Name}}</option>
        {{/each}}
    </select> <br><br>
    
    <label for="input-date-time">Date and Time: </label>
    <input type="datetime-local" name="input-date-time" id="input-date-time"> <br><br>

    <label for="input-description">Description: </label>
    <input type="text" name="input-description" id="input-description"> <br><br>

    <label for="input-infusion-rate">Infusion Rate mL/hr: </label>
    <input type="number" name="input-infusion-rate" id="input-infusion-rate"> <br><br>

    <table id="blood-product-table">
        <tr>
            <th>Blood Product ID</th>
            <th>Volume (mL)</th>
        </tr>
        {{#each bloodproductrows}}
            <tr>
                <td>
                    <select name="input-blood-product-id" id="input-blood-product-id{{this}}">
                        <option value="">Select a Blood Product</option>
                        {{#each ../bloodproducts}}
                            <option value="{{this.BloodProductID}}, {{this.BloodTypeID}}, {{this.ProductTypeID}}">{{this.BloodTypeID}}  {{this.ProductTypeID}}</option>
                        {{/each}}
                    </select>
                </td>
                <td>
                    <input type="number" name="input-volume" id="input-volume{{this}}"> 
                </td>
            </tr>
        {{/each}}
    </table>
    <br><br>
    <input type="submit">
</form>
<script src="./js/add-transfusion-order.js"></script>
</div>

{{!-- 
    CITATION
    The hidden form section was adapted from the following code:
    Source: HTMLElement.hidden (https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/hidden)
    Author: MDN Web Docs 
    Retrieved: 03/01/2023
--}}
{{!-- Form to update a TransfusionOrder --}}
<div id="update-section" hidden>
<h2>Updating Transfusion Order Form</h2>
<p>To update a specific transfusion order fill out the form below</p>
<form id="update-transfusion-order-form-ajax">

    <label for"update-transfusion-id">TransfusionID</label>
    <select name="update-transfusion-id" id="update-transfusion-id">
    <option value="">Select a TransfusionID</option>
        {{#each transfusionorders}}
        <option value="{{this.TransfusionID}}">{{this.TransfusionID}}</option>
        {{/each}}
    </select> <br><br>

    <label for="update-name">Full Name: </label>
    <select name="update-name" id="update-patientID">
        <option value="">Select a Patient</option>
        {{#each patients}}
        <option value="{{this.PatientID}}, {{this.Name}}">{{this.Name}}</option>
        {{/each}}
    </select> <br><br>

    <label for="update-nurse">Nurse Name: </label>
    <select name="update-nurse" id="update-nurseID">
        <option value="">Select a Nurse</option>
        {{#each nurses}}
        <option value="{{this.NurseID}}, {{this.Name}}">{{this.Name}}</option>
        {{/each}}
    </select> <br><br>

    <label for="update-date-time">Date and Time: </label>
    <input type="datetime-local" name="update-date-time" id="update-date-time"> <br><br>

    <label for="update-description">Description: </label>
    <input type="text" name="update-description" id="update-description"> <br><br>

    <label for="update-infusion-rate">Infusion Rate mL/hr: </label>
    <input type="number" name="update-infusion-rate" id="update-infusion-rate"> <br><br>

    <input type="submit">

</form>
<script src="./js/update-transfusion-order.js"></script>